@charset "utf-8";
/*----------------------------------------------------

  reset
/*====================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*----------------------------------------------------

  common
====================================================*/
html {
  overflow-y: scroll; }

body {
  font-family: Verdana, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  height: 100%;
  line-height: 1.7;
  min-width: 1200px;
  *zoom: 1;
  *display: inline;
  /* for iPhone */
  -webkit-text-size-adjust: 100%; }

input, textarea {
  font-family: Verdana, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

/* for IE6 */
* html body,
* html input,
* html textarea {
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif; }

/* select color
----------------------------------------------------*/
::selection {
  background: #00aaff;
  color: white; }

::-moz-selection {
  background: #00aaff;
  color: white; }

/* link
----------------------------------------------------*/
a {
  color: #999999;
  outline: none; }
  a:link {
    color: #cccccc; }
  a:visited {
    color: #b8b8b8; }
  a:hover {
    color: #ebebeb; }
  a:active {
    color: #e0e0e0; }
