<div class="header">
  <div class="inner clearfix">
    <div class="logo">
      <a href="/">logo</a>
    <!-- /.logo --></div>
    <div class="global_nav">
      <ul class="list_wrap clearfix">
        <li class="nav_list"><a href="#">page1</a></li>
        <li class="nav_list"><a href="#">page2</a></li>
        <li class="nav_list"><a href="#">page3</a></li>
        <li class="nav_list"><a href="#">page4</a></li>
      </ul>
    <!-- /.global_nav --></div>
  <!-- /.inner --></div>
<!-- /.header --></div>