meta(name='twitter:card'        content = 'summary')
meta(name='twitter:site'        content = '@site_account')
meta(name='twitter:creator'     content = '@individual_account')
meta(name='twitter:url'         content = PAGE_INFO.absolute_path)
meta(name='twitter:title'       content = TITLE)
meta(name='twitter:description' content = DESCRIPTION)
meta(name='twitter:image'       content = '')
//- さらに詳しい情報: https://dev.twitter.com/cards/getting-started
//- Validate: https://dev.twitter.com/docs/cards/validation/validator
