.g-header
  .inner
    .logo
      a(href="/") logo
    .g-nav
      ul.g-nav-wrap.clearfix
        li.g-nav-item
          a(href="#") page1
        li.g-nav-item
          a(href="#") page2
        li.g-nav-item
          a(href="#") page3
        li.g-nav-item
          a(href="#") page4
        li.g-nav-item
          a(href="#") page5