meta(property='fb:app_id'      content = SITE_INFO.fb_app_id)
meta(property='og:url'         content = PAGE_INFO.absolute_path)
meta(property='og:type'        content = 'website')
meta(property='og:title'       content = TITLE)
meta(property='og:image'       content = '')
meta(property='og:description' content = DESCRIPTION)
meta(property='og:site_name'   content = SITE_INFO.name)
meta(property='og:locale'      content = (PAGE_INFO.lang === 'en' ? 'en_US' : 'ja_JP'))
meta(property='article:author' content = '')
//- Facebook: https://developers.facebook.com/docs/sharing/webmasters#markup
//- Open Graph: http://ogp.me/
