head
  meta(charset='utf-8')
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="description", content="#{DESCRIPTION}")
  meta(name="keywords", content="#{KEYWORD}")
  meta(name="author", content="AUTHOR")
  meta(name="copyright", content="COPY RIGHT")
  meta(property="mixi:title", content="MIXI TITLE")
  meta(property="mixi:description", content="MIXI DESCRIPTION")
  meta(property="mixi:content-rating", content="1")
  meta(property="fb:app_id", content="")
  meta(property="og:title", content="")
  meta(property="og:type", content="")
  meta(property="og:site_name", content="")
  meta(property="og:url", content="")
  meta(property="og:image", content="")
  meta(property="og:description", content="#{DESCRIPTION}")
  title #{TITLE}
  link(rel="shortcut icon", href="")
  link(rel="index", href="/")
  link(rel="stylesheet", href="/css/style.css")
  block style
  block scripts
