//- ------------------------------------
//- variables this page
//- 
block variables
  - var TITLE       = 'AWESOME TITLE CAT 1';
  - var DESCRIPTION = 'AWESOME DESCRIPTION';
  - var KEYWORD     = 'AWESOME KEYWORD';

//- ------------------------------------
//- extend
//- 
extends /_layouts/_default

//- ------------------------------------
//- content this page
//- 
block content
  .main