//- ------------------------------------
//- extend
//-
extends /_layouts/_default

//- ------------------------------------
//- variables this page
//-
block variables
  - var TITLE       = 'AWESOME TITLE CAT 1';
  - var DESCRIPTION = 'AWESOME DESCRIPTION CAT 1';
  - var KEYWORD     = 'AWESOME KEYWORD CAT 1';


//- ------------------------------------
//- content this page
//-
block content
  h1 INDEX CAT 1
