<%
var PAGE_IFNO = {
  "title"           : "category",
  "description"     : "category-description",
  "keywords"        : "category-keywords",
  "fb:app_id"       : "category-fb:app_id",
  "og:title"        : "category-og:title",
  "og:type"         : "category-og:type",
  "og:site_name"    : "category-og:site_name",
  "og:url"          : "category-og:url",
  "og:image"        : "category-og:image",
  "og:description"  : "category-og:description"
};
-%><%
var localStyle = function(){
// --------------------------------
// local style
// 
-%>
<link rel="stylesheet" href="css/category-1.css">
<% }; /* end localStyle */ -%><%

var localScript = function(){
// --------------------------------
// local script
// 
-%>
<script src="js/category-1.js"></script>
<% }; /* end localScript */ -%><%

// --------------------------------
// content
// 
var content = function(){ -%>

<div class="category-1">
  <h1>category | INDEX</h1>
<!-- /.index --></div>

<% };/* end content */ -%><%

include ../_layouts/_default.ejs -%>