block variables
doctype html
<!--[if lt IE 7 ]> <html lang="ja" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ja" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ja" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ja" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="ja"> <!--<![endif]-->

include /_partial/_head

body#side-id
  .main
    include /_partial/_header
    .content
      block content
    include /_partial/_footer

</html>