include /_config.pug
//- ------------------------------------
//- include local variables
//-
block variables

doctype html
html(lang="ja")

  //- ------------------------------------
  //- include head element
  //-
  include /_partial/_head.pug

  //- ------------------------------------
  //- begin body
  //-
  body
    div= DOMAIN
    .main
      //- include global header
      include /_partial/_header.pug
      .content
        //- put content
        block content
      //- include global footer
      include /_partial/_footer.pug
