//- ------------------------------------
//- include local variables
//-
block variables

//- ------------------------------------
//- HTML CONTENTS
//-
doctype html
html(lang="ja")

  //- ------------------------------------
  //- include head element
  //-
  include /_partial/_head

  //- ------------------------------------
  //- begin body
  //-
  body(id=SITE_CONF.domain.replace('.', '-'))
    div= SITE_CONF.domain
    .main
      //- include global header
      include /_partial/_header
      .content
        //- put content
        block content
      //- include global footer
      include /_partial/_footer

    //-================ SCRIPT ================-//
    block scripts
