// ----------------------------------------------------
// reset
//
@include global-reset;

// ----------------------------------------------------
// common
//
html {
  @extend html;
  overflow-y: scroll;
}

body {
  @extend body;
  font-family: $default-font;
  font-size: $base-font-size;
  color: $font-color;
  line-height: $base-line-height;
  min-width: $inner-width;
  *zoom: 1;
  *display: inline;
  /* for iPhone */
  -webkit-text-size-adjust: 100%;
}

input, textarea {
  font-family: $default-font;
}

// ----------------------------------------------------
// cleadfix
//
.clearfix {
  @include clearfix;
}

// ----------------------------------------------------
// select color
//
::selection {
  background: $selection-bg-color;
  color: $selection-color;
}
::-moz-selection {
  background: $selection-bg-color;
  color: $selection-color;
}

// ----------------------------------------------------
// select color
//
a {
  color: $link-color;
  outline: none;

  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }

  &:active {
    color: $link-active-color;
  }

  &.linked_img > img {
    @include opacity($linled-img-opacity);
  }
}