html,
body,
div,
span,
applet,
object,
caption,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
label,
legend,
textarea,
p,
a,
em,
strong,
address,
cite,
code,
dfn,
small,
img,
blockquote,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
var,
abbr,
acronym,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

q:before,
q:after {
  content: '';
}

object,
embed {
  vertical-align: top;
}

a,
label {
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}