@import "compass";

@charset "utf-8";


// 
// variables
// 
$base-font-size     : 16px;
$base-line-height   : 1.7;
$default-font       : sans-serif;
$font-color         : #999;
$linl-color         : #0af;




//
// cleadfix
//
%clearfix {
  &:after {
    content: "."; display: block; visibility: hidden; height: 0.1px; font-size: 0.1em; line-height: 0; clear: both;
  }
}

.cleadfix {
  @extend %clearfix;
}


/*----------------------------------------------------

  reset
/*====================================================*/
@include global-reset;


/*----------------------------------------------------

  common
====================================================*/
html {
  @extend html;
  overflow-y: scroll;
}

body {
  @extend body;
  font-family: $default-font;
  color: $font-color;
  line-height: $base-line-height;
  min-width: 1200px;
  *zoom: 1;
  *display: inline;
  /* for iPhone */
  -webkit-text-size-adjust: 100%;
}

input, textarea {
  font-family: $default-font;
}



/* select color
----------------------------------------------------*/
$selection-bg-color : #0af;
$selection-color : #fff;
::selection {
  background: $selection-bg-color;
  color: $selection-color;
}
::-moz-selection {
  background: $selection-bg-color;
  color: $selection-color;
}

/* link
----------------------------------------------------*/
a {
  color: $linl-color;
  outline: none;

  &:link {
    color: scale_color( $linl-color, $lightness: 50% );
  }

  &:visited {
    color: scale_color( $linl-color, $lightness: 30% );
  }

  &:hover {
    color: scale_color( $linl-color, $lightness: 80% );
  }

  &:active {
    color: scale_color( $linl-color, $lightness: 70% );
  }
}


@import "_print";