<%
var PAGE_IFNO = {
  "title"           : "NOT_FOUND",
  "description"     : "NOT_FOUND-description",
  "keywords"        : "NOT_FOUND-keywords",
  "fb:app_id"       : "NOT_FOUND-fb:app_id",
  "og:title"        : "NOT_FOUND-og:title",
  "og:type"         : "NOT_FOUND-og:type",
  "og:site_name"    : "NOT_FOUND-og:site_name",
  "og:url"          : "NOT_FOUND-og:url",
  "og:image"        : "NOT_FOUND-og:image",
  "og:description"  : "NOT_FOUND-og:description"
};
-%><%
var content = function(){
// --------------------------------
// content
// 
-%>
<div class="NOT_FOUND-1">
  <h1>404 | not found</h1>
<!-- /.index --></div>

<% };/* end content */ -%><%

include _layouts/_default.ejs %>