//- ------------------------------------
//- variables this page
//- 
block variables
  - var TITLE       = '404 TITLE';
  - var DESCRIPTION = '404 DESCRIPTION';
  - var KEYWORD     = '404 KEYWORD';

//- ------------------------------------
//- style this page
//- 
block style

//- ------------------------------------
//- script this page
//- 
block scripts
  
//- ------------------------------------
//- extend
//- 
extends /_layouts/_default

//- ------------------------------------
//- content this page
//- 
block content
  h1 404