//- ------------------------------------
//- extend
//-
extends /_layouts/_default

//- ------------------------------------
//- variables this page
//-
block variables
  - const TITLE       = '404 TITLE';
  - const DESCRIPTION = '404 DESCRIPTION';

//- ------------------------------------
//- style this page
//-
block style

//- ------------------------------------
//- script this page
//-
block scripts


//- ------------------------------------
//- content this page
//-
block content
  h1 404
