//- ------------------------------------
//- extend
//-
extends /_layouts/_default

//- ------------------------------------
//- variables this page
//-
block variables
  - const TITLE       = 'AWESOME TITLE';
  - const DESCRIPTION = 'AWESOME DESCRIPTION';
  - const KEYWORD     = 'AWESOME KEYWORD';
  - const LOCAL_PATH  = path;

//- ------------------------------------
//- style this page
//-
block style
  //- example
  //- link(rel="stylesheet", href="css/style.css")

//- ------------------------------------
//- script this page
//-
block scripts
  //- example
  //- script(src='js/script.js')


//- ------------------------------------
//- content this page
//-
block content
  h1 INDEX
