<%
var PAGE_IFNO = {
  "title"           : "index",
  "description"     : "index-description",
  "keywords"        : "index-keywords",
  "fb:app_id"       : "index-fb:app_id",
  "og:title"        : "index-og:title",
  "og:type"         : "index-og:type",
  "og:site_name"    : "index-og:site_name",
  "og:url"          : "index-og:url",
  "og:image"        : "index-og:image",
  "og:description"  : "index-og:description"
};
%>
<% include _layouts/default %>
<% include _includes/_header %>

<div class="index">
  <h1>INDEX</h1>
<!-- /.index --></div>
<% include _includes/_footer %>