<%
var PAGE_IFNO = {
  "title"           : "INDEX",
  "description"     : "INDEX-description",
  "keywords"        : "INDEX-keywords",
  "fb:app_id"       : "INDEX-fb:app_id",
  "og:title"        : "INDEX-og:title",
  "og:type"         : "INDEX-og:type",
  "og:site_name"    : "INDEX-og:site_name",
  "og:url"          : "INDEX-og:url",
  "og:image"        : "INDEX-og:image",
  "og:description"  : "INDEX-og:description"
};
-%><%
var content = function(){
// --------------------------------
// content
// 
-%>
<div class="INDEX-1">
  <h1>INDEX | INDEX</h1>
<!-- /.index --></div>

<% };/* end content */ -%><%

include _layouts/_default.ejs %>