<%
var PAGE_IFNO = {
  /**
   * META
   */
  "title"           : "INDEX",              // require
  "description"     : "INDEX-description",  // require
  "keywords"        : "INDEX-keywords",
  "fb:app_id"       : "INDEX-fb:app_id",
  "og:title"        : "INDEX-og:title",
  "og:type"         : "INDEX-og:type",
  "og:site_name"    : "INDEX-og:site_name",
  "og:url"          : "INDEX-og:url",
  "og:image"        : "INDEX-og:image",
  "og:description"  : "INDEX-og:description",

  /**
   * CATEGORY: require
   */
  "CATEGORY"        : "INDEX"
};
-%><%
var content = function(){
/********************************
 * start content
 */-%>

  <h1>INDEX | INDEX</h1>

<% };
/**
 * end content
 *********************************/
-%><%

/*********************************
 * load layout
 *********************************/
-%><% include ./_layouts/_default.ejs %>